[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
toml = "*"
sqlalchemy = "*" # SQLAlchemy 1.4 broke flask-sqlalchemy, so force an older version to be used
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-assets = "*"
bcrypt = "*"
flask-jwt-extended = "*"
js2py = "*"

[dev-packages]

[requires]
python_version = "3.9"
