<html>
  <head>
    <title>Access Control Management</title>
    <meta charset="utf-8" />
    <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet" type="text/css" />
    <script src="http://localhost:35729/livereload.js"></script>
    <script>window._bootstrap_data = {{ bootstrap | safe }};</script>
  </head>
  <body>
    <div id="main">
        {% block content %}
        {% endblock %}
    </div>
  </body>
</html>
