{% extends "main.html" %}

{% block content %}
<div class="w-full h-full pt-10 px-10 flex items-stretch md:items-baseline flex-col md:flex-row gap-10">
  <div class="rounded-xl md:w-80 bg-white shadow-lg overflow-hidden">
    <div class="bg-gradient-to-r from-blue-400 to-blue-500 w-full h-11 font-bold items-center flex px-4 text-blue-50">
      Rooms
    </div>
    <div class="pt-2 px-1 pb-2">
      <div class="flex items-center p-2 rounded-full hover:bg-gray-200">
        <div class="rounded-full w-8 h-8 bg-gray-300"></div>
        <div class="ml-3">
          <span class="text-sm text-gray-800">Room #1</span>
        </div>
      </div>
      <div class="flex items-center p-2 rounded-full hover:bg-gray-200">
        <div class="rounded-full w-8 h-8 bg-gray-300"></div>
        <div class="ml-3">
          <span class="text-sm text-gray-800">Room #2</span>
        </div>
      </div>
      <div class="flex items-center p-2 rounded-full hover:bg-gray-200">
        <div class="rounded-full w-8 h-8 bg-gray-300"></div>
        <div class="ml-3">
          <span class="text-sm text-gray-800">Room #3</span>
        </div>
      </div>
    </div>
  </div>

  <div class="rounded-xl md:w-80 bg-white shadow-lg overflow-hidden">
    <div class="bg-gradient-to-r from-blue-400 to-blue-500 w-full h-11 font-bold items-center flex px-4 text-blue-50">
      Doors
    </div>
    <div class="pt-2 px-1 pb-2">
      <div class="flex items-center p-2 rounded-full hover:bg-gray-200">
        <div class="rounded-full w-8 h-8 bg-gray-300"></div>
        <div class="ml-3">
          <span class="text-sm text-gray-800">Door #1</span>
        </div>
      </div>
      <div class="flex items-center p-2 rounded-full hover:bg-gray-200">
        <div class="rounded-full w-8 h-8 bg-gray-300"></div>
        <div class="ml-3">
          <span class="text-sm text-gray-800">Door #2</span>
        </div>
      </div>
      <div class="flex items-center p-2 rounded-full hover:bg-gray-200">
        <div class="rounded-full w-8 h-8 bg-gray-300"></div>
        <div class="ml-3">
          <span class="text-sm text-gray-800">Door #3</span>
        </div>
      </div>
    </div>
  </div>

  <div class="rounded-xl md:w-80 bg-white shadow-lg overflow-hidden">
    <div class="bg-gradient-to-r from-blue-400 to-blue-500 w-full h-11 font-bold items-center flex px-4 text-blue-50">
      People
    </div>
    <div class="pt-2 px-1 pb-2">
      <div class="flex items-center p-2 rounded-full hover:bg-gray-200">
        <div class="rounded-full w-8 h-8 bg-gray-300"></div>
        <div class="ml-3">
          <span class="text-sm text-gray-800">Person #1</span>
        </div>
      </div>
      <div class="flex items-center p-2 rounded-full hover:bg-gray-200">
        <div class="rounded-full w-8 h-8 bg-gray-300"></div>
        <div class="ml-3">
          <span class="text-sm text-gray-800">Person #2</span>
        </div>
      </div>
      <div class="flex items-center p-2 rounded-full hover:bg-gray-200">
        <div class="rounded-full w-8 h-8 bg-gray-300"></div>
        <div class="ml-3">
          <span class="text-sm text-gray-800">Person #3</span>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
