<html>
  <head>
    <title>Access Control Management</title>
    <meta charset="utf-8" />
    <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="main">
        {% block content %}
        {% endblock %}
    </div>
    {% if current_user %}
    <script>window._current_user = {{ current_user | safe }};</script>
    {% endif %}
    {% if props %}
    <script>window._page_props = {{ props | safe }};</script>
    {% endif %}
    {% if router %}
    <script>
      window._flask_routes = {{ router | safe }};
     </script>
    {% endif %}
    {% if component %}
    <script src="{{ url_for('static', filename='js/' + component + '.bundle.js') }}"></script>
    {% endif %}
  </body>
</html>
